<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<meta charset="UTF-8"/>
<head>
    <title>Transaction list</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>

    <!--TIMEPICKER http://trentrichardson.com/examples/timepicker/-->
    <link rel="stylesheet" href="/css/jquery-ui-timepicker-addon.css"/>
    <script src="/js/jquery-ui-timepicker-addon.js"></script>

    <script>
        $(function () {
            $("#datetimepicker").datetimepicker();
        });
    </script>
</head>
<body>
<div class="container">

    <h1 layout:fragment="header">Transactions </h1>

        <div layout:fragment="content">
            <h2>Add new transaction</h2>
            <form th:object="${transactionDto}" th:action="@{addTransaction}" method="post">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <td class="col-md-2">Amount</td>
                        <td class="col-md-2">Choose account</td>
                        <td class="col-md-2">Destination account name</td>
                        <td class="col-md-2">Transaction Date</td>
                        <td class="col-md-2">Categories //TODO</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-md-2">
                            <input class="form-control" type="text" placeholder="Amount [PLN]" th:field="*{amount}"
                                   required="true"/>
                            <div class="error-msg" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">amount
                            </div>
                        </td>
                        <td class="col-md-2">
                            <select class="form-control" th:field="*{fromAccount}" required="true">
                                <option th:each="userAccount : ${userDto.accounts}" th:value="${userAccount.id}"
                                        th:text="${userAccount.name}">
                                    User accounts
                                </option>
                            </select>
                            <div class="error-msg" th:if="${#fields.hasErrors('fromAccount')}"
                                 th:errors="*{fromAccount}">
                                fromAccount
                            </div>
                        </td>
                        <td class="col-md-2">
                            <input class="form-control" type="text" placeholder="Destination account"
                                   th:field="*{toAccount}" required="true"/>
                            <div class="error-msg" th:if="${#fields.hasErrors('amount')}" th:errors="*{toAccount}">
                                toAccount
                            </div>
                        </td>
                        <td class="col-md-2">
                            <input class="form-control" id="datetimepicker" type="datetime"
                                   placeholder="Choose date and time"
                                   th:field="*{transDate}" required="true"/>
                            <div class="error-msg" th:if="${#fields.hasErrors('transDate')}" th:errors="*{transDate}">
                                transDate
                            </div>
                        </td>

                        <!--<td class="col-md-2">-->
                        <!--<input class="form-control" type="text" placeholder="Amount [PLN]" th:field="*{amount}"-->
                        <!--required="true"/>-->
                        <!--<div class="error-msg" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">amount</div>-->
                        <!--</td>-->


                    </tr>
                    </tbody>
                </table>
                <div class="col-md-3">
                    <button class=" btn btn-lg btn-primary" type="submit">Add transaction</button>
                </div>
            </form>
            <h2>Transactions list</h2>
            <table class="table table-bordered table-striped">
                <thead>
                <form>
                    <tr>
                        <td class="col-md-2">Amount</td>
                        <td class="col-md-2">Account balance</td>
                        <td class="col-md-2">FromAccount</td>
                        <td class="col-md-2">ToAccount</td>
                        <td class="col-md-2">Transaction Date</td>
                        <td class="col-md-2">Categories</td>
                    </tr>

                </form>
                </thead>
                <tbody>
                <tr th:if="${transactionList.empty}">
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr th:each="transaction  : ${transactionList}">
                    <td th:text="${transaction.amount} + ' PLN'">amount</td>
                    <td th:text="${transaction.balance} + ' PLN'">balance</td>
                    <td th:text="${transaction.fromAccount.name}"> fromAccount.name</td>
                    <td th:text="${transaction.toAccount}"> toAccount</td>
                    <td th:text="${transaction.transDate}"> transDate</td>
                    <!--<td th:text="${transaction.categories}"> categories</td>-->
                    <!--<select multiple class="form-control">-->
                    <!--<option>1</option>-->
                    <!--<option>2</option>-->
                    <!--</select>-->
                    <!--<select id="multiSelectElementsSelected"-->
                    <!--name="multiSelectElementsSelected"-->
                    <!--multiple="multiple"-->
                    <!--th:field="*{departments}">-->

                    <!--<option th:each="department,row : ${collectionOfDepartments.values()}"-->
                    <!--th:value="${department.value}"-->
                    <!--th:text="${department.label}"></option>-->
                    <!--</select>-->
                </tr>
                </tbody>
            </table>

        </div> <!--end of content-->


</div> <!--end of container-->
</body>
</html>