<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<meta charset="UTF-8"/>
<head>
    <title>Transaction list</title>

</head>
<body>
<div class="container">

    <h1 layout:fragment="header">Transaction list</h1>

    <div layout:fragment="content">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>Amount</td>
                <td>FromAccount</td>
                <td>ToAccount</td>
                <td>Transaction Date</td>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${transactionList.empty}">
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
            </tr>
            <tr th:each="transaction  : ${transactionList}">
                <td th:text="${transaction.amount} + ' PLN'">1</td>
                <td th:text="${transaction.fromAccount.name}"> The summary </td>
                <td th:text="${transaction.toAccount}"> The summary </td>
                <td th:text="${transaction.transDate}"> The summary </td>
            </tr>
            </tbody>
        </table>
        <div th:text="${sum}"></div>

    </div> <!--end of content-->


</div> <!--end of container-->
</body>
</html>