<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Home</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link th:rel="stylesheet" th:href="@{/css/bootstrap-theme.css}" />
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/npm.js}"></script>
</head>
<body>


    <header>
        <h1>New dialect example</h1>
    </header>
    <section layout:fragment="custom-content">
        <p>Your page content goes here</p>
    </section>
    <footer>
        <p>My custom footer</p>
        <p layout:fragment="custom-footer">Your custom footer here</p>
    </footer>

</body>
</html>