<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8"/>
<head>
    <title>Layout</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/boostrap-theme.css" th:rel="stylesheet" th:href="@{/css/bootstrap-theme.css}"/>
    <script src="/static/js/jquery-1.12.4.js" th:src="@{/js/jquery-1.12.4.js}"></script>
    <script src="/static/js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
    <script src="/static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="/static/js/npm.js" th:src="@{/js/npm.js}"></script>
</head>
<body>
<div class="container">
    <nav layout:fragment="navbar" class="navbar navbar-default">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Biblioteka</a>
            </div>
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="#" class="dropdown-toggle"
                                            data-toggle="dropdown" role="button" aria-haspopup="true"
                                            aria-expanded="false">Użytkownicy <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/regiser}">Dodaj użytkownika</a></li>
                            <li><a th:href="@{'/user/userAccount/' + ${userDto.id}}">Konto Użytkownika</a></li>
                            <li><a th:href="@{'/user/transactionList/' + ${userDto.id}}">Lista Transakcji</a></li>
                        </ul>
                    </li>
                </ul>


            </div>
            <!--/.navbar-collapse-->
        </div>
        <!--/.container-fluid -->
    </nav>

    <h1 layout:fragment="header">Layout</h1>

    <div layout:fragment="content">content goes here</div>

    <div layout:fragment="footer">footer goes here</div>


</div>
</body>
</html>