<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<meta charset="UTF-8"/>
<head>
    <title>Layout</title>

</head>
<body>
<div class="container">
    <nav th:fragment="navbar" class="navbar navbar-default">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand">MyExpenses</a>
            </div>
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/transaction/list}">Transactions</a></li>
                    <li><a th:href="@{/budget/list}">Budget</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" th:text="'Logged in: ' +${session.username}">username<span
                                class="caret"></span></a>
                    </li>

                    <li><a th:href="@{/user/account}">Account</a></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-default navbar-btn" type="submit">Logout</button>
                        </form>
                    </li>

                </ul>
            </div>
            <!--/.navbar-collapse-->
        </div>
        <!--/.container-fluid -->
    </nav>

    <div class="row" id="notifications"
         th:with="notifyMessages=${session[T(pl.sda.service.webnotification.MessageServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
        <div th:align="center" th:class="${msg.type}" role="alert"
             th:each="msg : ${notifyMessages}" th:text="${msg.text}">
        </div>
        <span th:if="${notifyMessages != null}" th:remove="all"
              th:text="${session.notificationMessages.clear()}"></span>
    </div>

    <h1 th:fragment="header">Layout</h1>

    <div th:fragment="content">content goes here</div>

    <div th:fragment="footer">
        @author Michał Gałka
    </div>


    <script>
        $("#notifications").fadeOut(12000);
    </script>
</div>
</body>
</html>